@import "compass/reset";

/*
main stylesheet
*/

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

body
{
	background-color: #ccc;
	font-family: 'Roboto', monospace;

	background-image: radial-gradient(transparent, rgba(0,0,0,.7));
}

#container
{
	width: 540px;
	height: 100%;
	margin: 0px auto;
}

a {
	color: #111;

	&:visited {
		color: #111;
	}
}

$width: 400px;

#menu {
	margin: 0px auto;
	width: $width;
	height: 400px;
	border: 0px solid #888;
	background-color: rgba(255,255,255,0.4); 
	background: -webkit-radial-gradient(70% 30%, farthest-corner, #fff 30%,#555 70%);
	text-align: center;
	border-radius: 200px;

	padding-top: 165px;

	margin-left: -($width/2);
	margin-top: -($width/2);

	h2 {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 32px;
		color: rgba(0,0,0,0.5);
	}

	sup {
		font-size: 12px;
		vertical-align: 70%;
		padding-left: 2px;

	}
}

#sidebar {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 10px 10px;
	opacity: 0.8;

	background-color: rgba(255,255,255,0.3);

	border: 0px solid #fff;
	width: 300px;

	h1 {
		font-size: 26px;
		margin-bottom: 10px;
	}

	h2 {
		font-size: 20px;
	}

	sup {
		font-size: 12px;
		vertical-align: 60%;
		padding-left: 2px;

	}

	#lvl {
		margin-top: 10px;

		h2 {

		}

		#timer {
			float: right;
		}

		#level {

		}
	}

	#results {
		margin-top: 10px;

		max-height: 400px;
		overflow-y: scroll;

		.time {
			float: right;
		}
	}

	#credits {
		margin-top: 10px;
		font-size: 13px;
		line-height: 13px;
	}
}

#dat-gui-container {
	position: absolute;
	left: 100px;
	top: 0px;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
}

.btn {
	display: inline-block;
	padding: 5px;
	background-color: #ffffff;
	border: 1px solid black;
	font-size: 12px;
	transition: background-color 0.15s linear;
}

.btn:hover {
	cursor: pointer;
	background-color: #ccc;
}

.right {
	float: right;
}

.left {
	float: left;
}

.hide {
	display: none;
}

.show { 
	display: block;
}

/* stats */

#stats {
	position: absolute;
	left: 10px !important;
	top: 10px !important;
	opacity: 1.0;
}

#stats #fps {
	padding: 1px !important;
	background-color: rgba(0,0,0,0.2) !important;
	opacity: 0.8;

	#fpsText {
		left: 1px;
		color: #fff !important;
		padding: 0 1px;
		font-family: 'Roboto', monospace;
		font-weight: 300 !important;
	}

	#fpsGraph {
		left: 1px;
		padding: 0px;
		margin-bottom:1px;
		background-color: rgba(255,255,255,0.7) !important;
		overflow: hidden;
		
		span {
			border-bottom: 1px solid !important;
			border-color: rgba(255,255,255,0.9) !important;
			background-color: rgba(0,0,0,0.3) !important;
		}
	}
}

#stats #ms {
	padding: 1px !important;
	background-color: rgba(0,0,0,0.2) !important;
	opacity: 0.8;	
	
	#msText {
		left: 1px;
		color: #fff !important;
		padding: 0 1px;
		font-family: 'Roboto', monospace;
		font-weight: 300 !important;
	}

	#msGraph {
		left: 1px;
		padding: 0px;
		margin-bottom:1px;
		background-color: rgba(255,255,255,0.7) !important;
		overflow: hidden;
	
		span {
			border-bottom: 1px solid !important;
			border-color: rgba(255,255,255,0.9) !important;
			background-color: rgba(0,0,0,0.3) !important;
		}
	}
}

/* ^ stats */
